{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <meta name="description" content="{% block metadescription %}{% endblock %}">
    <script src="https://kit.fontawesome.com/4349b5f290.js" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %}</title>

</head>
<body>
<div>
{% include 'header.html' %}
{% include 'nav.html' %}
{% block content %}
{% endblock %}
<div></div>
<div class="container">

{% include 'footer.html' %}
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</div>
</body>
</html>